@import 'app/views/styles/colors'

.person
  position relative
  padding-bottom 1em
  background seafoam
  padding 1em
  h3
    margin 0
  .controls
    position absolute
    top 0
    right 0
    > *
      margin 0 1em

  .empty
    h1,h2,h3,h4
      color ocean
.bounty:before
  content: '$'
