@import '/app/views/styles/colors'

#flash_messages
  width 551px
  margin 0 auto
  .flash
    margin-top 1em
    background seaweed
    padding .5em
    text-align center
    color white
    text-shadow 0 1px 1px deepocean
    position relative
    .dismiss
      position absolute
      right 1em
      text-decoration none