@import 'nib'
@import '/app/views/styles/colors'

.header
  color white
  width: 551px
  margin: 0 auto
  padding: 5px
  font-size: 24px
  font-weight: 300
  font-size: 1.25rem
  line-height: 1.2

  a
    text-decoration: none
    color white

    &.last-link
      padding-left: 9px;

    &:visited
      color: white

    &:hover
      color: white
      border-color: #27552e
  ul
    margin: 5px 0
    padding 0

nav
  display table
  table-layout fixed
  width 100%
  list-style-type none
  a
    padding .5em
    background ocean
    color white
    margin 0
    display table-cell
    text-align center
    &.secondary
      opacity .5
