@import '/app/views/styles/colors'

h1, h2, h3, h4
  color white

a, li
  color ocean

.page-container
  a:visited
      color deepocean
  h1, h2, h3
    color ocean
  .empty
    h1,h2,h3,h4
      color white
      // text-shadow 0 .1em .1em black
      font-weight normal
      a
        color seafoam
        text-decoration none
        border-bottom 1px solid transparent
        &:hover
          border-color seafoam
