@import '/app/views/styles/colors'

h1, h2, h3, h4
  color white

a
  color ocean

.page-container
  a:visited
      color deepocean
  h1, h2, h3
    color ocean
  .empty
    h1,h2,h3,h4
      color white
      // text-shadow 0 .1em .1em black
      font-weight normal
      a
        background seafoam
        border-radius .4em
        padding .5em
        text-decoration none