h1
  = first_name
  | &nbsp;
  = last_name
.controls
  a(href=jade.helpers.url('edit_person', {id: id}))
    | Edit &nbsp;
    = first_name
.details
  h3
    | Bounty: &nbsp;
    span.bounty(data-bind='bounty')
      = bounty
.borrowed-items

a(href=jade.helpers.url('person_new_loan', {person_id: id}))
  | Loan something to #{first_name}