.loan(class="#{reconciled ? 'reconciled' : ''}")
  h3
    = item_name
    span  ($
    span.compoundValue
    span )
  ul
    li Original Value: 
      span.value= " $" + value 
    li Days Past Due: 
      span.daysPastDue
    li Compound Interest Accrued: $
      span.compoundInterest

  .person

  .actions
    if reconciled
      button.unreconcile(href='#') Unreconcile
    else
      button.destroy(href='#') Remove
      button.reconcile(href="#") Reconcile
      a.edit(href=jade.helpers.url('edit_loan', {id: id})) Edit