.loan(class="#{reconciled ? 'reconciled' : ''}")
  .lendee
  = item_name
  = " ($" + value + ")"

  .actions
    if reconciled
      button.unreconcile(href='#') Unreconcile
    else
      button.destroy(href='#') Remove
      button.reconcile(href="#") Reconcile
      a.edit(href="/loans/#{id}/edit") Edit